<header>
  <% if (locals.user !=undefined) { %>
    <a href="/users/profile" class="itemContenedora">
      <img src="https://i.ibb.co/CvY9C2r/fly-tech-market.png" alt="Foto del usuario <%= user.name %>" id="perfil"
        style="width: 60px" />
    </a>
    <% }else { %>

      <a href="/" class="main-header_home-link">
        <img class="logo" src="https://i.ibb.co/CvY9C2r/fly-tech-market.png">
      </a>

      <% } %>

        <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="/">Todos los productos</a></li>
            <li><a href="/product/product-add">Cargar productos</a></li>
          </ul>

          <ul class="right-navbar">
            <a href="/users/register">Creá tu cuenta <i class="far fa-address-card"></i>
            </a>
            </li>
            <li>
              <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </li>
          </ul>
        </nav>

        <% if (locals.user !=undefined) { %>
          <p>Bienvenido, <%= user.name %>
          </p>
          <% } %>
</header>