<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

	<body>
		
		<% if (locals.user != undefined) { %>
			<%- include('./partials/header-logueado.ejs')  %> 
		<% }else { %>
			  <%- include('./partials/header.ejs')  %> 
		<% } %> 
			
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
					</div>
					
					<form method="POST" action="/product/product-add" enctype="multipart/form-data" >
						<h2 class="col-12">

							<label for="">Foto del Producto</label>
							<input type="file" name="fotoProducto">

						</h2>

						<h2 class="col-12">

							<label for=""> Nombre del Producto</label>
							<input type="text" name="nombreProducto">

						</h2>

						<h2 class="col-12">

							<label for=""> Descripcion del Producto </label>
							<input type="text" name="descripcionProducto">

						</h2>

						<h2 class="col-12">

							<label for="">Marca </label>
							<input type="text" name="marcaProducto">

						</h2>

						<h2 class="col-12">

							<label for="">Condicion </label>
							<input type="text" name="condicionProducto">

						</h2>

						<h2 class="col-12">

							<label for="">Tipo de Producto </label>
							<input type="text" name="tipoDeProducto">

						</h2>

						<h2 class="col-12">

							<input type="submit" value="AÑADIR"></input>
							

						</h2>
					</form>

				</div>

			</div>
			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>